body {
    font-size: 16px;
    padding-top: 120px;
}

h1 {
    font-family: "Aldo-SemiBold";
    font-size: 50px;
}

.navbar {
    height: 120px;
}

.navbar-brand img {
    height: 70px;
    margin: 0px;
}

#navbar-phones li p {
    font-family: "Aller-Bold";
    font-size: 1.3em;
    font-weight: bold;
    margin: 0px;
}

#navbar-email {
    font-family: "Aller" !important;
    font-size: 0.8em !important;
    font-weight: normal !important;
}

#navbar-links li a {
    font-family: "Aldo-SemiBold";
}

#navbar-links .active a {
    color: #ee3424;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width:767px) {

    .navbar-header {
        height: 120px;
    }

    .navbar-collapse {
        background-color: lightgray;
    }
}

@media (min-width:768px) {

    #navbar-links li {
        margin-top: 80px;
    }

    #navbar-links li a {
        padding: 10px;
        font-size: 22px;
    }

    #navbar-links li a:hover {
        background: #e7e7e7;
    }

    #navbar-links li a span {
        border-bottom: 5px solid transparent;
    }

    #navbar-links li a:hover span {
        color: #ee3424;
        border-bottom-color: #ee3424;
        transition: border 1s linear,
                    color 1s linear;
    }

    #navbar-links .active a:focus,
    #navbar-links .active a:hover {
        color: #ee3424;

    }

    #navbar-links .active a span{
        border-bottom: 5px solid #ee3424;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) and (max-width:1199px) {

    #navbar-links li {
        margin-top: 50px;
    }

    #navbar-links li a {
        padding: 25px;
        font-size: 25px;
    }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    #navbar-links li {
        margin-top: 40px;
    }

    #navbar-links li a {
        padding: 30px;
        font-size: 25px;
    }
}

#navbar-phones li {
    margin-right: 20px;
}


/**************************************************** 'EMPRESA' ********************************************************/
#empresa p {
    font-family: "Aller-Light";
    font-size: large;
}

textarea {
    resize: none;
}