body {
    font-size: 16px;
    padding-top: 120px;
}

.navbar {
    height: 120px;
}

.navbar-brand img {
    height: 100px;
    margin: 0px;
}

#navbar-phones li p {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0px;
}

#navbar-email {
    font-size: 0.8em !important;
    font-weight: normal !important;
}

#navbar-links li a:hover {
    background: #e7e7e7;
    color: #ee3424;
}



/* Extra small devices (phones, less than 768px) */
@media (max-width:767px) {

    .navbar-header {
        height: 120px;
    }

    .navbar-collapse {
        background-color: lightgray;
    }
}

@media (min-width:768px) {

    #navbar-links li {
        margin-top: 80px;
    }

    #navbar-links li a {
        padding: 10px;
        font-size: 14px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) and (max-width:1199px) {

    #navbar-links li {
        margin-top: 50px;
    }

    #navbar-links li a {
        padding: 25px;
        font-size: 16px;
    }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    #navbar-links li {
        margin-top: 40px;
    }

    #navbar-links li a {
        padding: 30px;
        font-size: 17px;
    }
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #ee3424;
}


#navbar-phones li {
    margin-right: 20px;
}

.jumbotron h2 {
    color: #ee3424;
}

textarea {
    resize: none;
}