body {
    font-size: 16px;
}

@media (min-width:768px) {
    .nav.navbar-nav li a {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .nav.navbar-nav li a:hover {
        color: #ee3424;
    }
}

/* Extra small devices (phones, less than 768px) */
@media (max-width:767px) {
   body {
        padding-top: 120px;
    }

    .navbar {
        height: 120px;
    }

    .navbar-brand img {
        height: 100px;
    }

    .navbar-header {
        height: 120px;
    }

    .navbar-collapse {
        background-color: lightgray;
    }
}


/* Small devices (tablets, 768px and up) */
@media (min-width:768px) and (max-width:991px) {
    body {
        padding-top: 100px;
    }

    .navbar {
        height: 100px;
    }

    .navbar-brand img {
        height: 80px;
    }

    #navbar-links {
        padding-top: 20px;
    }

    #navbar-phones li {
        font-size: 1em;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) and (max-width:1199px) {
    body {
        padding-top: 140px;
    }

    .navbar {
        height: 140px;
    }

    .navbar-brand img {
        height: 120px;
    }

    #navbar-links {
        padding-top: 60px;
    }

    #navbar-phones li {
        font-size: 1.2em;
    }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        padding-top: 160px;
    }

    .navbar {
        height: 160px;
    }

    .navbar-brand img {
        height: 140px;
    }

    #navbar-links {
        padding-top: 80px;
    }

    #navbar-phones li {
        font-size: 1.3em;
    }
}

#navbar-phones li {
    list-style-type: none;
    font-weight: bold;
}

.jumbotron h2 {
    color: #ee3424;
}

textarea {
    resize: none;
}